APU_TIMETABLE_S3="S3 PUBLIC LINK"
INTAKE_CODE="YOUR INTAKE CODE"

## GOOGLE SERVICE ACCOUNT VARIABLES
CALENDAR_ID="YOUR CALENDAR ID"
PROJECT_ID="YOUR PROJECT ID"
PRIVATE_KEY_ID="YOUR PRIVATE KEY ID"
PRIVATE_KEY="YOUR PRIVATE KEY"
CLIENT_EMAIL="YOUR CLIENT EMAIL"
CLIENT_ID="YOUR CLIENT ID"
CLIENT_CERT_URL="YOUR CLIENT CERT URL"
